.btn-blue {
  background-color: #0081C9;
  padding: 14px 32px;
  border-radius: 30px;
  color: white;
  font-size: larger;
  font-weight: bolder;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.btn-blue:hover {
  background: #86E5FF;
  color: black;
}
